.container-carrosel-principal {
  /* width: 90%; */
  margin: 0 auto;
}
.container-title {
    position: absolute;
    color: white;
    z-index: 9998;
    margin: 4.5rem;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.title-sub {
    color: var(--menuNavHover);
    font-size: 2.3rem;
    font-family: var(--titulo);
    font-weight: bold;
    text-shadow: 1px 2px 3px black;
}

.title-sub-continue {
    font-family: var(--titulo);
    font-size: 1.8rem;
    font-weight: bold;
    text-shadow: 1px 2px 3px black;

}

.titleMsg {
    font-weight: bold;
    font-size: 1.4rem;
    text-align: justify;
    text-shadow: 1px 2px 3px black;
}

.btn-discover {
    background-color: var(--menuNavHover);
    color: white;
    padding: .7rem;
    border-radius: 5px;
    width: 120px;
    border: none;
    margin-top: .5rem;
    font-size: .8rem;
    text-shadow: black 0.1em 0.1em 0.2em;
    box-shadow: 1px 1px 2px black;
    cursor: pointer;
}

.btn-discover:hover {
    transition: all 1s ease;
    background-color: var(--menuNavBtnHover);
    color: rgb(36, 38, 39);
    animation: backAndForth 2s ease-in-out forwards;
}

/* tablet responsive */

@media screen and (max-width:835px) {
    .container-title {
        margin: 1.5rem;
        gap: .2rem;
    }
    .title-sub, .title-sub-continue, .titleMsg{
        font-size: 1rem;
    }
    
    .btn-discover {
        padding: .4rem;
    }
}

/* smartphones responsive */

@media screen and (max-width:435px) {
    .container-carrosel-principal {
        display: flex;
        flex-direction: column-reverse;
        background-color:var(--menuNav);
    }
    .title-sub-continue {
        padding-bottom: 1rem;
    }
    .container-title{
        position: relative;
        max-width: 100%;
        text-align: center;
    }
    .btn-discover {
        margin: 1rem auto;
    }
}