.container-donation {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.donateTitleMsg,
.donate {
    position: absolute;
    cursor: pointer;
}

.donateTitleMsg {
    font-family: var(--paragrafo);
    color: var(--menuNavHover);
    font-size: 1.4rem;
    margin-top: 5rem;
}

.donate {
    font-family: var(--titulo);
    color: white;
    margin-top: 7rem;
    font-size: 1.2rem;
}

/* tablet responsive */
@media screen and (max-width:835px) {
    .container-donation>a>img {
        width: 90%;
        display: block;
        margin: 0 auto;
    }
}

/* smartphones responsive */

@media screen and (max-width:435px) {
    .donateTitleMsg{
        margin-top: 2.5rem;
    }
    .donate {
        margin-top: 1rem;
    }
}