.container-LastestNews {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 2rem 0;
}

.lastestNewsTitle {
    font-family: var(--titulo);
    color: var(--menuNavHover);
    font-size: 2.1rem;
}

.lastestNewsInfo {
    font-family: var(--paragrafo);
    text-align: center;
    width: 60%;
}

.news {
    display: flex;
    /* width: 80%; */
    margin: 3rem ;
    gap: 1rem;
    /* margin-bottom: 5rem; */

}

.newsPosts01 {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 13px 7px 23px -12px rgba(0,0,0,0.61);
}
.newsTitle {
    font-family: var(--titulo);
    color: var(--menuNavHover);
    font-weight: bold;
    text-transform: uppercase;
    padding: .3rem 0;
    margin: .5rem;
}
.newsPostsInfo {
    font-family: var(--paragrafo);
    text-align: justify;
    width: 90%;
    margin: .5rem;
    
}

.newsPostsAside {
    display: flex;
    box-shadow: 13px 7px 23px -12px rgba(0,0,0,0.61);
}
.btn-news{
    background-color: var(--menuNavHover);
    border: none;
    padding: .5rem;
    border-radius: 5px;
    margin-left: .4rem;
    margin-bottom: .5rem;
    cursor: pointer;
}
.btn-news:hover {
    background-color: var(--menuNavBtnHover);
    transition: all 1s ease-in-out;
    animation: backAndForth 2s ease-in-out forwards;
}

/* tablet responsive */

@media screen and (max-width: 835px) {
    .news {
     flex-direction: column;
    }
    
}

/* smathohones responsive */

@media screen and (max-width:435px){
    .newsPosts01 >img {
        width: 90%;
    }
    .newsPostsAside {
        flex-direction: column;
        align-items: center;
    }
    .btn-news {
        display: block;
        margin: 12px auto;
    }
}