:root {
    /* fontes */
    --titulo: 'DM Sans', sans-serif;
    --paragrafo: 'Overpass', sans-serif;

    /* cores */
    --menuNav: #00434D;
    --menuNavHover: rgb(247, 163, 8);
    --menuNavBtnHover: rgb(255, 230, 0);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html,
root {
    height: 100%;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--menuNavHover);
    border-radius: 20px;
}

.scroll {
    font-size:2rem;
    color: var(--menuNavHover);
    filter: drop-shadow(1px 1px 4px black);
    z-index: 99;
    position: fixed;

}
.a {
    background-color: red;
    width: 50px;
    height: 50px;
}